body{
    font-family: sans-serif;
    margin: 0 auto;
}

#imageColor {
    mask: url(../img/power_button.svg) no-repeat center / contain;
    -webkit-mask: url(../img/power_button.svg) no-repeat center / contain;
    width: 200px;
    height: 200px;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}
  
#imageColor:hover{
opacity: 0.75;
}

header{
    position: relative;
    top:0px;
    text-align: center;
    background-color: #c1c1c2;
    width:100%;
}

#titleApp{
    margin-top: 0px;
    font-size: 25px;
}

footer{
    position: absolute;
    bottom: 0px;
    width:100%;
    text-align: center;
    background-color: #1e1f20;
    color:white;
}